*, html {
	box-sizing: border-box;
}

html, body {
	/*height: 100%;*/
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	letter-spacing: 0.05em;
}

h1, h2 {
	color: white;
	font-weight: normal;
	margin: 0;
}

h1 {
	padding: 15px 0;
	font-size: 1.8em;
	text-align: center;
}

h2 {
	padding: 10px 0;
	font-size: 0.9em;
	font-style: italic;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input {
	width: 100%;
	padding: 5px 10px;
	font-size: 0.9em;
	font-family: sans-serif;
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100%;
	display: block;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100vh;
	width: 400px;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
	overflow: visible;
	z-index: 1;
	transition: left 0.5s;
}

.collapse {
	left: -400px;
	transition: left 0.5s;
}

.sidebar-show-hide {
	display: block;
	width: 40px;
	height: 30px;
	position: absolute;
	/* sidebarShowHide function increases top px value to avoiding covering
	Google maps terrain/satellite selector */
	top: 10px;
	left: 100%;
	padding: 0 10px;
	background-color: #f3f3f3;
	background-image: url("/imgs/collapse_gray_left.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid rgba(24,146,238,1);
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
	z-index: 1;
	text-align: center;
	overflow: visible;
	cursor: pointer;
	transition: top 0.3s;
}



.sidebar-top {
	position: absolute;
	top: 0;
	left: 0;
	height: 120px;
	width: 100%;
	margin: 0;
	padding: 0 10px;
	/* must be set to opaque background to "hide" the scroll from sidebar-bottom */
	background-color: rgba(24,146,238,1);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.5);
	z-index: 3;
}

.sidebar-bottom {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 140px;
	overflow-y: scroll;
	z-index: 2;
}

.location-list {
	margin: 0;
	padding: 0;
}

.location-list-item {
	padding: 5px 0 5px 15px;
	color: #444;
	font-size: 1.2em;
	letter-spacing: 0.1em;
}

.sidebar-footer {
	height: 10vh;
	background-color: blue;
}

#map {
	display: inline-block;
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#info-window {
	min-width: 120px;
}

.info-title {
	font-weight: 500;
}

.info-address {
	font-style: italic;
}

.info-img {
	display: block;
	height: 75px;
}